@model IEnumerable<InterGalacticEcomm.Models.Category>

@if (User.IsInRole("Admin"))
    {
    <h1>Here is the Admin page</h1>

    <ul>
        @foreach (var item in Model)
        {
    <li>
        <a asp-controller="Admin" asp-action="Category" asp-route-Id="@item.Id">@item.CategoryName</a>
    </li>}

    </ul>
    }
