@model IEnumerable<InterGalacticEcomm.Models.Category>

@if (User.IsInRole("Admin"))
    {
    <h1>Here is the Admin/Index page</h1>

    <ul>
        @foreach (var item in Model)
        {
    <li>
        <a asp-controller="Admin" asp-action="Category" asp-route-Id="@item.Id">@item.CategoryName</a>
    </li>}

    </ul>

        <p>Administrator permissions:</p>
        <a href="/admin/products">Product</a>
        <a href="/admin/categories">Category</a>
    }