@page
@model InterGalacticEcomm.Pages.Home.IndexModel
@{ }

@if (User.Identity.IsAuthenticated)
{
<h1 style="text-align:center">Welcome to InterGalactic E-comm, @Model.Username</h1> }
else
{
<h1 style="text-align:center">Welcome to InterGalactic E-comm!</h1>}

<div class="container">
    <div class="row">
    @foreach (var item in Model.CategoryList)
    {
        <div class="col-md-6">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <div class="caption text-center">
                            <div class="position-relative">
                                <img src="../wwwroot/images/interdimension.PNG" style="width:72px;height:72px;" />
                            </div>
                            <h4 id="thumbnail-label"><a asp-page="/Home/Category" asp-route-Id="@item.Id">@item.CategoryName</a></h4>
                            <div class="thumbnail-description smaller">@item.Description</div>
                        </div>
                    </div>
                </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    }
    </div>
</div>

@if (User.IsInRole("Admin"))
{
<p style="font-weight:bold;">Administrator permissions:</p>
                    <a href="/admin/index">Admin Panel</a>}