@model InterGalacticEcomm.Models.Product

<h1>Here is your product details page.</h1>

<p>@Model.Name -- @Model.Price -- @Model.Description</p>

<form>
    <p>Want to update this item?</p>
    Name: <input type="text" name="Name"/>
    Price: <input type="number" name="Price"/>
    Description: <input type="text" name="Description"/>
    <input type="submit" value="Update Item"/>
</form>

<form>
    <p>Want to delete this item?</p>
    <input type="submit" value="Delete"/>
</form>