@model InterGalacticEcomm.Models.Product

<h1>Here is your product details page.</h1>

<p>@Model.Name -- @Model.Price -- @Model.Description</p>

<form method="post" action="/home/createproduct">
    <p>Create a product?</p>
    Name: <input type="text" name="Name" />
    Description: <input type="text" name="Description" />
    <input type="submit" value="Create Product" />
</form>

<form method="put" action="/home/updateproduct">
    <p>Want to update this product?</p>
    Name: <input type="text" name="Name" />
    Description: <input type="text" name="Description" />
    <input type="submit" value="Update Item" />
</form>

<form method="delete" action="/home/deleteproduct">
    <p>Want to delete this product?</p>
    <input type="submit" value="Delete" />
</form>