<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InterGalactic Ecomm</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>InterGalactic E-Commerce</h1>
    </header>
    <main>
        <a asp-controller="Admin" asp-action="Index">Admin Panel</a>
        <div>
            @RenderBody()
        </div>
    </main>
    <footer>
        &copy; 2021 Scott + Matthew
    </footer>
    <script></script>
</body>
</html>
